.nav-link,
.navbar-brand {
    color: white;
}

.nav-link:hover {
    color: gold;
}

.navbar-brand:hover {
    color: gold;
}

.navbar {
    background-color: transparent;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}