.abc{
    margin-top: 100px;
}

.Main{
    margin-left: 100px;
    margin-right: 100px;
}

.maindiv{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
}

.b-hr {
    border-bottom: 0.5px solid;
    width: 250px;
    color: #95a0ab;
    height: 2px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


.btn1{
    padding-bottom: 40px;
}

.btn1 button{
    background-color: #FB3E3E;
    color: white;
    border: 0px;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 14px;
    letter-spacing: 0.5px;
    transition: all 0.5s;
}

.middlediv{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 10px 0px 10px;
    height: auto;
    max-width: 100%;
    margin-top: 60px;
    box-shadow: 0px 0px 10px 0px #888888;
    border-radius: 10px !important;
    width: 300px;
}

.price{
    font-size: 30px;
    font-weight: 700;
}

h6{
    font-weight: 500;
    padding-top: 50px;
}

.middlediv p{
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #95a0ab !important;
    padding-bottom: 30px;
}

ul li{
    color: black;
}

.servicec ul li{
    padding: 10px;
}

.servicec ul li b{
    color: #FB3E3E;
}


.middlediv:hover{
    margin-top: -5px;
    transition: 0.9s ease;
}